<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body class='cautionGaming'>
    <nav class="navbar navbar-default grnOnRed">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text">Not a member? Register Now
          <a href='/users/new'><button type="button" class="btn btn-default navbar-btn">Register</button></a></p>	
        </div>
      </div>
    </nav>

    <% if flash[:alert] then %>
    <div class='col-sm-offset-3'>
    <%= flash[:alert] %>
    </div>
    <% end %>

<!-- END NAV BAR - - START SIGN IN FORM -->
    <div class='row'>
      <div class='col-sm-3 col-sm-offset-1' id='login'>
        <form class="form-horizontal" action='/sessions' method='post'>
        	<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
            <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="form-group">
            <div class="col-sm-8">
              <input type="email" name='email' class="form-control" id="email" placeholder="Email">
            </div>
          </div>
            <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="form-group">
            <div class="col-sm-8">
              <input type="password" name='password' class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>