<!doctype html>
<html>
<head>
	<title>Gamer Forums</title>
</head>
<body>

<!-- START NAV -->
<div>
	<nav class="navbar navbar-default grnOnReder">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Gamer Forums</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          
            <li><a href="/dashboards">Home<span class="sr-only">(current)</span></a></li>
           
            <li><a href="/games/index">Trading Post</a></li>
            <li class="active"><a href="#">Game Forums</a></li>
            <li><a href="#">Mailbox</a></li>
            <li>
	          <form class="navbar-form navbar-left" role="search">
	            <div class="form-group">
	              <input type="text" class="form-control" placeholder="Search all games for...">
	            </div>
	            <button type="submit" class="btn btn-default">Search</button>
	          </form>
      		</li>
            <li class="dropdown nav navbar-nav navbar-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="/sessions/destroy">Sign Out</a></li>
              </ul>
            </li>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>

<!-- END NEW NAVBAR - - START SCROLL BAR -->

<br><br><br>

<div id="carousel-example-generic" class="carousel slide col-xs-12 fullHeight forumBG" data-ride="carousel" data-interval='false'>
	<h5 class='centerText grnHilite'>Dont see your topic and have something to say? Create a new thread and <a href="/forums/new"> share your thoughts</a> with the gaming community!</h5>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<div class='item active blackOut' id='bookTitle'>
  		<h1 class='grnText centerText spacer50'>Gamer's Book</h1>
  		<h3 class='grnText centerText'>of Truths and Fables of the Past</h3>
  		<h3 class='grnText centerText'>Ideas and Realities of the Future</h3>
  		<p class='grnText centerText underlineText'>Anything Relating To Games and Gamers</p>
  	</div>
	<% if @forumCategories then @forumCategories.each do |category| %>
   	<!--Start Item-->
   		<div class="item">
			<h1 class='centerText grnText'><%=category.game_category%></h1>
			<div class="panel-group col-sm-6 col-sm-offset-3 spacer15" id="accordion" role="tablist" aria-multiselectable="true">
				<% @forumGames.each do |game| %>
					<% if game.game_category == category.game_category then %>
					  	<div class="panel panel-default">
					   		<div class="panel-heading" role="tab" id="headingOne<%=game.id%>">
					     	<h4 class="panel-title">
					        	<div data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%=game.id%>" aria-expanded="true" aria-controls="collapseOne<%=game.id%>">
					          		<%=game.game_title%>
					        	</div>
					      	</h4>
					    </div>

				    	<div id="collapseOne<%=game.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne<%=game.id%>">
				      		<div class="panel-body">
				        		<% @allForums.each do |forum|%>
				        			<% if forum.game_category == game.game_category and forum.game_title == game.game_title then%>
				        				<p data-toggle='modal' data-target='#myModal<%=forum.id%>'><%=forum.topic_title%></p>

										<div class="modal fade" id='myModal<%=forum.id%>'>
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        <h4 class="modal-title"><%=forum.game_category%> - <%=forum.game_title%></h4>
										      </div>
										      <div class="modal-body">
										      	<div class='titleBox'>
										      		<h3 class='underlineText centerText'><%=forum.topic_title%></h3>
										        	<h5 class='indent25'><%=forum.topic_content%></h5>
										        	<p class='mainAuthor'>Gamer: <%=forum.user.first_name%> <%=forum.user.last_name%></p>
										        </div>

										        <% @forumComments.each do |comment| %>  
										        	<% 	if comment.forum_id == forum.id then %>

										        		<div class='col-xs-2 ratingBox centerText paddingCenter'>

										        			<form action='/ratings' method='post'>
										        				<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
										        				<input type='hidden' name='comment_id' value='<%=comment.id%>'>
										        				<input type='hidden' name='vote' value=1>
										        				<button type='submit' class='seeThrough'><i class="fa fa-plus-circle"></i></button>
										        			</form>
										        			
										        			<p class='centerText centerItem text10'><%=@commentRatings[comment.id]%></p>
										        			<form action='/ratings' method='post'>
										        				<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
										        				<input type='hidden' name='comment_id' value='<%=comment.id%>'>
										        				<input type='hidden' name='vote' value=-1>
										        				<button type='submit' class='seeThrough'><i class="fa fa-minus-circle"></i></button>
										        			</form>


										        		</div>
										        		<div class='col-xs-10 messageBox'>
										        			<div class='col-xs-12'>
										        				<p class='col-xs-8 col-xs-offset-2'><%=comment.content%></p>
										        				<p class='col-xs-12 text10 textRight'><%=comment.user.first_name%> <%=comment.user.last_name%></p>
										        			</div>
										        		</div>
										        	<% end %>
										        <% end %>
										        <form action='/comments' method='post'>
										  			<input type='hidden' name='authenticity_token' value="<%=form_authenticity_token%>">
										  			<input type='hidden' name='comment[user_id]' value='<%=session[:user_id]%>'>
										  			<input type='hidden' name='comment[forum_id]' value='<%=forum.id%>'>
										  			<div class="form-group">
										   				<label for="comment_content">Comment</label>
										   				<textarea class="form-control" name="comment[content]" id='comment_content' placeholder="Enter Comment"></textarea>
										  			</div>

										  			<button type="submit" class="btn btn-success btn-sm">Submit</button>
												</form>

										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

										      </div>
										    </div><!-- /.modal-content -->
										  </div><!-- /.modal-dialog -->
										</div><!-- /.modal -->

				        			<% end %>
				        		<% end %>
				      		</div>
				    	</div>
		  			</div>
		  		<% end %>
		<% end %>
	</div>
</div>
  	<!--End Item -->

<% 	end
end
%>
    <!--Start Item-->

  </div>

  <!-- Controls -->
  <a class="left carousel-control directionals" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-chevron-left fa-5x" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control directionals" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-chevron-right fa-5x" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>




</body>
</html>