<!doctype html>
<html>
<head>
  <title></title>
</head>
  <body>
    <nav class="navbar navbar-default grnOnRed">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text">Already a member? Sign In Now
          <a href='/sessions/new'><button type="button" class="btn btn-default navbar-btn">Sign In</button></a></p> 
        </div>
      </div>
    </nav>

    <!-- END NAVBAR - - START ERROR LOG -->
    <% if flash[:errors] then %>
      <div class='col-sm-offset-3'>
        <% flash[:errors].each do |value| %>
        <p>  <%= value %></p>
        <% end %>
      </div>
    <% end %>
    <% if flash[:badConfirm] then %>
    <div class='col-sm-offset-3'>
      <p> <%= flash[:badConfirm] %> </p>
      
    </div>
    <% end %>


    <!-- END ERROR LOG - - START REGISTRATION FORM -->
  <div class='col-sm-5 col-sm-offset-8' id='regForm'>
    <form class="form-horizontal" action='/users' method='post'>
      <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
      
      <div class="form-group">
        <label for="inputFirstName" class="col-sm-3 control-label labelBack">First Name</label>
        <div class="col-sm-6">
          <input type="text" name='first_name' class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
      </div>

      <div class="form-group">
        <label for="inputLastName" class="col-sm-3 control-label labelBack">Last Name</label>
        <div class="col-sm-6">
          <input type="text" name='last_name' class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label labelBack">Email</label>
        <div class="col-sm-6">
          <input type="email" name='email' class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label labelBack">Password</label>
        <div class="col-sm-6">
          <input type="password" name='password' class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
     
      <div class="form-group">
        <label for="inputPassword4" class="col-sm-3 control-label labelBack">Confrim Password</label>
        <div class="col-sm-6">
          <input type="password" name='confirm' class="form-control" id="inputPassword4" placeholder="Confirm Password">
        </div>
      </div>  

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default" id='regBtn'>Register</button>
        </div>
      </div>
    </form>
</div>
  </body>
</html>