<!doctype html>
<html>
 <head>
   <title></title>
 </head>
 <body id="gameShowBG">
    <nav class="navbar navbar-default grnOnRed">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Gamer's Trading Post</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          
            <li><a href="/dashboards/new">Home<span class="sr-only">(current)</span></a></li>
           
            <li class='active'><a href="/games/index">Trading Post</a></li>
            <li><a href="/forums">Game Forums</a></li>
            <li><a href="#">Mailbox</a></li>
           
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search all games for...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>

            <li class="dropdown nav navbar-nav navbar-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="/sessions/destroy">Sign Out</a></li>
              </ul>
            </li>
       
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<br><br><br>
    <!-- END NAVBAR - - START MAIN PAGE -->


    <div class='col-sm-8 col-sm-offset-2'>
    <% @allGames.each do |game| %>
      <% @allUsers.each do |user|
        if user.id == game.user_id then @owner = user 
        end
      end %>
       <div class='col-sm-4 boxedIn grnOnRed200' data-toggle='modal' data-target='#myModal<%=game.id%>'>
      
          <h5 class='centerText gameTitleSpace'><%=game.title%></h5>
          <p><label class='gap10'>Quality</label><%=game.quality%></p>
          <p><label class='gap10'>Console</label><%=game.platform%></p>
          <p><label class='gap10'>For Sale?</label><%=game.sell_status%></p>
          <p><label class='gap10'>For Trade?</label><%=game.trade_status%></p>
          
      </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal<%=game.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%=game.title%></h4>
          </div>
         
          <div class="modal-body centerText col-sm-12">
            <div class='col-sm-8 col-sm-offset-2 underBorder'>
              <label class='col-sm-4 col-sm-offset-2'>Console:</label>
              <p class='col-sm-4'><%=game.platform%></p>
            </div>
            <div class='col-sm-8 col-sm-offset-2 underBorder'>
              <label class='col-sm-4 col-sm-offset-2'>Description:</label>
              <p class='col-sm-4'><%=game.description%></p>
            </div>
            <div class='col-sm-8 col-sm-offset-2 underBorder'>
              <label class='col-sm-4 col-sm-offset-2'>Quality:</label>
              <p class='col-sm-4'><%=game.quality%></p>
            </div> 

            <div class='col-sm-8 col-sm-offset-2 underBorder'>
              <label class='col-sm-4 col-sm-offset-2'>Owner:</label>
              <p class='col-sm-4'><%=@owner.first_name%> <%=@owner.last_name%></p>
            </div> 
            
            <div class='col-sm-6 borderRight'>
              <label class='col-sm-7 tradeStatus'>Trade:</label>
              <p class='col-sm-5 tradeReqs'><%=game.trade_status%></p>


            </div>
            
            <div class='col-sm-6'>
              <label class='col-sm-5 tradeStatus'>Sell:</label>
              <p class='col-sm-7 tradeReqs'><%=game.sell_status%></p>


            </div>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            
            <form action='/offers/new' method='get'>
              <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
              <input type='hidden' name='game_id' value='<%=game.id%>'>
              <button type="submit" class="btn btn-primary">Offer Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>





     <!-- <a href='/games/show/<%=game.id%>'> -->
      <!-- <div class='col-sm-4 boxedIn'> -->
        <!-- <h5 class='centerText'><%=game.title%></h5> -->
        <!-- <p class='centerText'><%=game.description%></p> -->
      <!-- </div> -->
    <!-- </a> -->
    <% end %>
<!-- SCROLLING BOXES -->




<!-- END SCROLLING BOXES -->
    </div>
  </body>
</html>
