<!doctype html>
<html>
 <head>
   <title></title>

 </head>
 <body>
  <div class='row'>
    <nav class="navbar navbar-default grnOnRed">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Gamer's Trading Post</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          
            <li><a href="/dashboards/new">Home<span class="sr-only">(current)</span></a></li>
           
            <li class='active'><a href="/games/index">Trading Post</a></li>
            <li><a href="/forums">Game Forums</a></li>
            <li><a href="#">Mailbox</a></li>
           
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search all games for...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>

            <li class="dropdown nav navbar-nav navbar-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="/sessions/destroy">Sign Out</a></li>
              </ul>
            </li>
       
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
<!-- END NAV BAR - - START REQUEST FORM -->

<div class='row'>
  <div class='col-xs-6 col-xs-offset-3 grnOnRed'>
    <h3 class='offerHeader'>Requested Trade Offers</h3>

       <div class='row'>
        <div class='col-xs-6 textRight'>
          <h5>Willing To Trade?</h5>
        </div>
        <div class='col-xs-6 textLeft'>
          <h6><%=@offerRequirements.trade_status%></h6>
        </div>
      </div>

      <% if @offerRequirements.trade_status != 'No' then %>
        <div class='row'>
          <div class='col-xs-6 textRight'>
            <h5>Trader Is Looking For:</h5>
          </div>
          <div class='col-xs-6 textLeft'>
            <h6><%=@offerRequirements.trade_price%></h6>
          </div>
        </div>
      <% end %>    

      <div class='row'>
        <div class='col-xs-6 textRight'>
          <h5>Willing To Sell?</h5>
        </div>
        <div class='col-xs-6 textLeft'>
          <h6><%=@offerRequirements.sell_status%></h6>
        </div>
      </div>

      <% if @offerRequirements.sell_status != 'No' then %>
        <div class='row'>
          <div class='col-xs-6 textRight'>
            <h5>Trader Will Sell For:</h5>
          </div>
          <div class='col-xs-6 textLeft'>
            <h6>$<%=@offerRequirements.sell_price%></h6>
          </div>
        </div>
      <% end %>    


    </div>
  </div>
</div>

<br>

<!-- END REQUEST FORM - - START OFFER FORM -->
<div class='row'>
  <form class="form-horizontal" action='/offers' method='post'>
    <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
    <input type='hidden' name='offer_game_id' value='<%=@offerRequirements.id%>'>
  <div class='col-sm-6 col-xs-12 grnOnRed offerBox'>
    <h3 class='offerHeader'>My Trade Offer</h3>
    <div class='row'>
      <div class='col-sm-3 col-sm-offset-2'>
      <p>Want to Trade?</p>
    </div>
    <div class='col-sm-1'>
      <select name='trade_status' class='pull-left'>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    </div>



    <% if @offerRequirements.trade_status == 'Yes' then %>
    <div class="form-group">
        <label for="offer_console" class="col-sm-4 control-label">Game Console</label>
        <div class="col-sm-7">
          <select class='form-control' name='offer_console' id='offer_console' required>
            <option>Microsoft Xbox</option>
            <option>Microsoft Xbox 360</option>
            <option>Microsoft Xbox One</option>
            <option>Nintendo Game Cube</option>
            <option>Nintendo 64</option>
            <option>Nintendo Wii</option>
            <option>Nintendo Wii U</option>
            <option>Sega Dreamcast</option>
            <option>Sony Playstation</option>
            <option>Sony Playstation 2</option>
            <option>Sony Playstation 3</option>
            <option>Sony Playstation 4</option>
          </select>
        </div>
      </div>

    <div class="form-group">
        <label for="offer_genre" class="col-sm-4 control-label">Game Category</label>
        <div class="col-sm-7">
          <select class='form-control' name='offer_genre' id='offer_genre' required>
            <option>Action</option>
            <option>Adventure</option>
            <option>Classic Games</option>
            <option>Racing</option>
            <option>Role-playing</option>
            <option>MMO-RPG</option>
            <option>Shooter</option>
            <option>Simulation</option>
            <option>Sports</option>
            <option>Strategy</option>
          </select>
        </div>
    </div>
    
    <div class="form-group">
      <label for="offer_title" class="col-sm-4 control-label">Game Title</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name='offer_title' id="offer_title" placeholder="Game Title">
      </div>
    </div>

    <div class="form-group">
        <label for="offer_quality" class="col-sm-4 control-label">Game Quality</label>
        <div class="col-sm-7">
          <select class='form-control' name='offer_quality' id='offer_quality' required>
            <option>Brand New</option>
            <option>Like New</option>
            <option>Good</option>
            <option>Poor</option>
          </select>
        </div>
    </div>
<% end %>
  </div>
  <div class='col-sm-6 col-xs-12 grnOnRed offerBox'>
      <h3 class='offerHeader'>My Sale Offer</h3>
  <div class='row'>
      <div class='col-sm-3 col-sm-offset-2'>
      <p>Want to Buy?</p>
    </div>
    <div class='col-sm-1'>
      <select name='sale_status' class='pull-left'>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    </div>
      <div class="input-group col-sm-4 col-sm-offset-2">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" name='offer_price' id="exampleInputAmount" step='0.01' min='0.00' max='100.00' placeholder="Amount">
      </div>

      <div class='input-group col-sm-8 col-sm-offset-2'>
        <br>
        <h3 class='offerHeader'>Additional Information</h3>
        <textarea class='form-control' name='offer_comment' placeholder='Add a comment about your offer.'></textarea>
      </div>
  </div>
</div>
    <div class="form-group">
      
        <button type="submit" class="btn btn-default centerItem">Send Offer</button>
      
    </div>
  </form>

</body>
</html>