<html>
<head>
	<title><%=@game.title%> Offers</title>
</head>
<body>
	<nav class="navbar navbar-default">
    	<div class="container-fluid">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<p class="navbar-brand">Gamer's Trading Post</p>
        	</div>
        	<!-- Collect the nav links, forms, and other content for toggling -->
        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	    <ul class="nav navbar-nav">
            		<li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
		            <li><a href="/games/index">Trading Post</a></li>
		            <li><a href="/forums">Game Forums</a></li>
		            <li><a href="#">Mailbox</a></li>

			        <form class="navbar-form navbar-left" role="search">
			            <div class="form-group">
			              <input type="text" class="form-control" placeholder="Search all games for...">
			            </div>
			            <button type="submit" class="btn btn-default">Search</button>
			        </form>
         
       		    	<li class="dropdown nav navbar-nav navbar-right">
	              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
		            	<ul class="dropdown-menu" role="menu">
		                	<li><a href="#">Edit Profile</a></li>
		                	<li><a href="#"></a></li>
		                	<li><a href="#">Something else here</a></li>
		                	<li class="divider"></li>
		                	<li><a href="/sessions/destroy">Sign Out</a></li>
		             	</ul>
	             	</li>
	            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>







	<h2 class='grnText'><%=@game.title%></h2>
	<% @offers.each do |offer| %>
	<div>
		<div class='grnOnRed offerLongBox col-sm-3'>
			<%if offer.trade_status == 'Yes' then %>
				<h3 class='centerText'><%=offer.game_title%></h3>
				<p class='centerText'>(<%=offer.trade_offer%>)</p>
				<h6 class='centerText'><%=offer.game_genre%></h6>
			<% end %>
		<br>
			<%  if offer.trade_status == 'Yes' && offer.sale_status == 'Yes' then%>
				<h4 class='centerText'>OR</h4>
			<% end %>
			<% if offer.sale_status == 'Yes' then %>
				<h3 class='centerText'>$<%=offer.sale_offer%></h3>
			<% end %>
		<br>
			<h5 class='centerText textUnderline'>Comment:</h5>
			<h5 class='centerText'>"<%=offer.game_comment%>"</h5>
		<br>

			<button class='btn btn-success col-sm-offset-3'>Accept</button>
			<button class='btn redd'>Deny</button>
		</div>
	</div>
	<% end %>

</body>
</html>
