<!doctype html>
<html>
  <head>
   <title></title>
  </head>
  <body>
  <div class='row'>
    <nav class="navbar navbar-default grnOnRed">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Welcome, <%=@myInfo.first_name%> <%=@myInfo.last_name%>!</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          
            <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
           
            <li><a href="/games/index">Trading Post</a></li>
            <li><a href="/forums">Game Forums</a></li>
            <li><a href="#">Mailbox</a></li>
           
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search all games for...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
       

         
            <li class="dropdown nav navbar-nav navbar-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="/sessions/destroy">Sign Out</a></li>
              </ul>
            </li>
       
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>

    <!-- END NAVBAR - - START MAIN PAGE -->
<br><br><br><br>



    <div class='col-sm-6 col-sm-offset-3 gameboard'>

    <h5 class='centerText'>You currently have <%= @myTrades.length %> games in the Trading Post.</h5>
    <p class='centerText'><a href='/games/new'>Trade/Sell a game here!</a></p>
    <% if @myTrades.length > 0 then @myTrades.each do |trade| %>
    
    <button class='gameTitle' data-toggle='modal' data-target='#myModal<%=trade.id%>'><p><%= trade.title %></p></button>

      <div class="modal fade" id='myModal<%=trade.id%>' aria-labbeledby='myModalLabel' aria-hidden='true'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><%=trade.title%></h4>
            </div>
            <div class="modal-body">
              <h3>Trade Offers:  <a href='offers/<%=trade.id%>/Trade'><%=@offerTradeCount%></a></h3>
              <h3>Buy Offers:  <a href='offers/<%=trade.id%>/Sale'><%=@offerSaleCount%></a></h3>
              <h3>Highest Bid: $25.75</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


    <% end end %>





    <div class='lineBreak'></div>

    </div>

  </body>
</html>
