// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.centerText{
	text-align: center;
}

.lineBreak{
	border-bottom: 1px solid black;
}

.underlineText{
	text-decoration: underline;
}

.gameboard{
	background-color: limegreen;
	border: 10px solid green;
	border-radius: 10px;
}
	.gameTitle{
		background: none;
		border: none;
		width: 100%;
	}
		.gameTitleModal{
			opacity: 1;
		}