// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/\

/*#gameShowBG{*/
	/*background-image: url('/assets/calmLag.jpeg');*/
	/*background-repeat: no-repeat;*/
   	/*background-attachment: fixed;*/
   	/*background-size: cover;*/
/*}*/

#inputDescription{
	height: 50px;
}

.boxedIn{
	border: 1px solid black;
}

.underBorder{
	border-bottom: 1px solid black;
}

.tradeStatus{
	text-align: right;
}

.tradeReqs{
	text-align: left;
}

.borderRight{
	border-right: 1px solid black;
}

.gameSpace{
	background-color: limegreen;
	opacity: .9;
	height: 200px;
}
	.gap10{
		margin-right: 10px;
	}
.control-label{

}
	.grnText{
		color: limegreen;
	}

.formSectionBG{
	background-color: limegreen;
	opacity: 0.9;
	border: 20px solid green;
	border-radius: 15px;
	border-style: ridge;

}
.grnOnRed200{
		background-color: limegreen;
		opacity: 0.9;
		border: 20px solid green;
		border-radius: 15px;
		border-style: ridge;
		height: 250px;
		width: 275px;

	}