// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

	width: 95%;
	margin: 0 auto;

}

	.offerHeader{
		text-align: center;
		text-decoration: underline;
		font-family: Fantasy;
	}

	.textLeft{
		text-align: left;
	}

	.textRight{
		text-align: right;
	}
	.centerText{
		text-align: center;
	}
	.textUnderline{
		text-decoration: underline;
	}
	.font16{
		font-size: 16;		}

	.grnOnRed{
		background-color: limegreen;
		opacity: 0.9;
		border: 20px solid green;
		border-radius: 15px;
		border-style: ridge;
	}
		.offerBox{
			height: 325px;
		}
		.offerLongBox{
			height: 425px;
		}
		.gameTitleSpace{
			height: 50px;
		}
.centerItem{
	margin: 0 auto;	
}
	.redd{
		background-color: red;
	}




