// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: url('/assets/cautionGaming.jpeg');
   	background-repeat: no-repeat;
   	background-attachment: fixed;
   	background-size: cover;
   	
}

	#login{
		margin-top: 250px;
		color: limegreen;

	}
