// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#regForm{
	padding-right: 10px;
}
	.labelBack{
		color: limegreen;
	}
	#regBtn{
		background-color: limegreen;
	}
